*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3::first-letter{
    color: #00796B;
    font-size: 3em;
}

h3:hover::first-letter{
    color: #4FC3F7;
}

ul{
    margin-left: 30px;
}

ul li::first-letter{
    font-size: 2em;
}

ul li:first-of-type::first-letter{
    color: #4FC3F7;
    text-decoration: overline;
}

ul li:nth-of-type(2)::first-letter{
    color: #C51162;
    text-decoration: underline;
}

ul li:last-of-type::first-letter{
    color: #64DD17;
}

ul li:last-of-type{
    text-decoration: line-through;
}

section p:first-of-type{
    color:#37474F;
    text-indent: 50px;
}

section p:first-of-type::first-line{
    font-size: 1.3em;
}

section p:not(:first-of-type)::first-letter{
    color: #D50000;
    font-size: 1.5em;
}

section p:not(:first-of-type)::first-line{
    color:green
}

section p:hover:not(first-of-type)::first-line{
    color: #303F9F;
}

section p:nth-child(even){
    font-weight: 600;
}